<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<!-- Bootstrap -->
<link href="{:C('DOMAIN.PUBLIC')}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="{:C('DOMAIN.PUBLIC')}common/js//html5shiv.min.js"></script>
<script src="{:C('DOMAIN.PUBLIC')}common/js/respond.min.js"></script>
<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{:C('DOMAIN.PUBLIC')}common/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{:C('DOMAIN.PUBLIC')}bootstrap/js/bootstrap.min.js"></script>

<script>
function input_change(name,type,help){
    var label = $("input[name='"+name+"']");
    var form_group = label.parents(".form-group");
    var glyphicon = label.nextAll(".glyphicon");
    var help_block = label.nextAll(".help-block");
    $(form_group).removeClass('has-success').removeClass('has-error');
    $(glyphicon).removeClass('glyphicon-ok').removeClass('glyphicon-remove').removeClass('glyphicon-edit');
    $(help_block).html('&nbsp;');
    var help_text = {
        email:{
            a:'请输入一个你已拥有的邮箱地址',
            b:'邮箱地址不合法',
            c:'邮箱地址已被他人注册',
            y:'错误异常',
            z:'&nbsp',
        },
        password:{
            a:'请输入6~16个字符（仅能使用数字、字母或下划线“_”）',
            b:'密码不合法，请输入6~16个字符（仅能使用数字、字母或下划线“_”）',
            y:'错误异常',
            z:'&nbsp',
        },
        confirm_password:{
            a:'请再次输入密码',
            b:'两次输入的密码不一致',
            y:'错误异常',
            z:'&nbsp',
        },
        verify:{
            a:'请输入图片中的字符，不区分大小写',
            b:'输入的图片中的字符不正确！',
            y:'错误异常',
            z:'&nbsp',
        },
    };
    if(type == 1){  //获取焦点时
        $(form_group).removeClass('has-success').removeClass('has-error');
        $(glyphicon).removeClass('glyphicon-ok').removeClass('glyphicon-remove').addClass('glyphicon-edit');
        $(help_block).html(help_text[''+name+''][''+help+'']);
    }else if(type == 2){  // 失去焦点为空时
        $(form_group).removeClass('has-success').removeClass('has-error');
        $(glyphicon).removeClass('glyphicon-ok').removeClass('glyphicon-remove').removeClass('glyphicon-edit');
        $(help_block).html(help_text[''+name+''][''+help+'']);
    }else if(type == 3){  //失去焦点不合法时
        $(form_group).removeClass('has-success').addClass('has-error')
        $(glyphicon).removeClass('glyphicon-ok').removeClass('glyphicon-edit').addClass('glyphicon-remove');
        $(help_block).html(help_text[''+name+''][''+help+'']);
    }else if(type == 4){  //失去焦点合法时
        $(form_group).removeClass('has-error').addClass('has-success')
        $(glyphicon).removeClass('glyphicon-remove').removeClass('glyphicon-edit').addClass('glyphicon-ok');
        $(help_block).html(help_text[''+name+''][''+help+'']);
    }

}
function check_post(){
    var email = $("input[name='email']").val();
    var password = $("input[name='password']").val();
    var confirm_password = $("input[name='confirm_password']").val();
    var verify = $("input[name='verify']").val();
    var email_errno = 0;
    if(email == ''){
        email_errno = 1;
    }
    if(email_errno == 0){
        var email_regular = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(email);
        if(!email_regular){
            email_errno = 2 
        }
    }
    var password_errno = 0;
    if(password == ''){
        password_errno = 1;
    }
    if(password_errno == 0){
        var password_regular = /^\w{6,16}$/.test(password);
        if(!password_regular){
            password_errno = 2 
        }
    }
    var confirm_password_errno = 0;
    if(confirm_password == ''){
        confirm_password_errno = 1;
    }
    if(confirm_password_errno == 0){
        if(confirm_password != password){
            confirm_password_errno = 2;
        }
    }
    var verify_errno = 0;
    if(verify == ''){
        verify_errno = 1;
    }
    if(verify_errno == 0){
       if(verify.length != 5){
           verify_errno = 2;
       }
    }
    var errno = 0;
    if((email_errno != 0) || (password_errno != 0) || (confirm_password_errno != 0) || (verify_errno != 0)){
        errno = 1;
    }
    var res = {
        'errno' : errno,
        'msg'   : {
            'email'             : email_errno,
            'password'          : password_errno,
            'confirm_password'  : confirm_password_errno,
            'verify'            : verify_errno,
        },
    };
    return res;
}
function explain_errno(msg){
    switch(msg.email){
        case 0:
            input_change('email',4,'z');
            break;
        case 1:
            input_change('email',3,'a');
            break;
        case 2:
            input_change('email',3,'b');
            break;
        case 3:
            input_change('email',3,'c');
            break;
        default:
            input_change('email',3,'y');
    }
    switch(msg.password){
        case 0:
            input_change('password',4,'z');
            break;
        case 1:
            input_change('password',3,'a');
            break;
        case 2:
            input_change('password',3,'b');
            break;
        default:
            input_change('password',3,'y');
    }
    switch(msg.confirm_password){
        case 0:
            input_change('confirm_password',4,'c');
            break;
        case 1:
            input_change('confirm_password',3,'a');
            break;
        case 2:
            input_change('password',3,'b');
            break;
        default:
            input_change('password',3,'y');
    }
    switch(msg.verify){
        case 0:
            input_change('verify',4,'c');
            break;
        case 1:
            input_change('verify',3,'a');
            break;
        case 2:
            input_change('password',3,'b');
            break;
        default:
            input_change('password',3,'y');
    }

}
$(function(){
    $("form").submit(function(){
        $("button[type='submit']").addClass('disabled').text("注册中...");
        var js_msg  = check_post();
        if(js_msg.errno != 0){
            explain_errno(js_msg.msg);
            $("input[name='verify']").val('');
            $("button[type='submit']").removeClass('disabled').text("立即注册");
            return false;
        }
        $.post($(this).attr("action"), $(this).serialize(), success, "json");
        return false;
        function success(php_msg){
            if(php_msg.errno == 0){
                var jump_url = "{:U('index')}"
                $("#submit_btn_div").hide();
                $("#submit_alert_div").find(".alert").addClass('alert-success').html('注册成功！3秒后<a href="'+jump_url+'" class="alert-link">跳转</a>至登陆页面。');
                $("#submit_alert_div").show();
                setTimeout("location.href='"+jump_url+"'",3000);
                return false;
            }
            if(php_msg.errno == 1){
                explain_errno(php_msg.msg);
                $("input[name='verify']").val('');
                $("button[type='submit']").removeClass('disabled').text("立即注册");
                return false;
            }
            var jump_url = "{:U('reg')}";
            $("#submit_btn_div").hide();
            $("#submit_alert_div").find(".alert").addClass('alert-danger').html('注册失败！请于页面<a href="'+jump_url+'" class="alert-link">刷新</a>后重新填写信息。');
            $("#submit_alert_div").show();
            setTimeout("location.href='"+jump_url+"'",3000);
            return false;
        }
    })

    $("input[name='email']").focus(function(){
        input_change('email',1,'a');
    }).blur(function(){
        var text = $(this).val();
        if(text == ''){
            input_change('email',2,'z');
        }else{
            var regular=/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(text);
            if(regular){
                input_change('email',4,'z');
            }else{
                input_change('email',3,'b');
            }
        }
    });
    $("input[name='password']").focus(function(){
        input_change('password',1,'a');
    }).blur(function(){
        var text = $(this).val();
        if(text == ''){
            input_change('password',2,'z');
        }else{
            var regular=/^\w{6,16}$/.test(text);
            if(regular){
                input_change('password',4,'z');
            }else{
                input_change('password',3,'b');
            }
        }
    });
    $("input[name='confirm_password']").focus(function(){
        input_change('confirm_password',1,'a');
    }).blur(function(){
        var text = $(this).val();
        if(text == ''){
            input_change('confirm_password',2,'z');
        }else{
            var password = $("input[name='password']").val();
            var text = $(this).val();
            if(password == text){
                input_change('confirm_password',4,'z');
            }else{
                input_change('confirm_password',3,'b');
            }
        }
    });
    $("input[name='verify']").focus(function(){
        input_change('verify',1,'a');
    }).blur(function(){
        var text = $(this).val();
        if(text == ''){
            input_change('verify',2,'z');
        }else{
            var text = $(this).val();
            if(text.length == 5){
                input_change('verify',4,'z');
            }else{
                input_change('verify',3,'b');
            }
        }
    });
    $("#verify_img,#verify_a").click(function(event){
        $("#verify_img").attr("src","{:U('verify')}");
    });
});
</script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <form name="myform" class="form-horizontal" role="form" action="{:U('reg')}" method="post" enctype="multipart/form-data">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-10">
                        <h2>maimai</h2>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label">邮箱地址</label>
                    <div class="col-md-10">
                        <input name="email" type="text" class="form-control" placeholder="" autofocus >
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block">&nbsp;</span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label">密码</label>
                    <div class="col-md-10">
                        <input name="password" type="password" class="form-control" placeholder="" >
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block">&nbsp;</span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label">确认密码</label>
                    <div class="col-md-10">
                        <input name="confirm_password" type="password" class="form-control" placeholder="" >
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block">&nbsp;</span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-md-2 control-label">验证码</label>
                    <div class="col-md-6" >
                        <input name="verify" type="text" class="form-control" placeholder="" >
                        <span class="glyphicon form-control-feedback"></span>
                        <span class="help-block">&nbsp;</span>
                    </div>
                    <div class="col-md-4">
                        <img id="verify_img" class="img-responsive" src="{:U('verify')}" style="cursor:pointer;" >
                        <a id="verify_a" class="help-block" href="javascript:void(0);" style="color:#406eba;">看不清楚？换张图片</a>
                    </div>
                </div>
                <div id="submit_btn_div" class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-5">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">立即注册</button>
                    </div>
                    <div class="col-md-5">
                        <a href="{:U('index')}" class="btn btn-default btn-lg btn-block" role="button">返回登陆</a>
                    </div>
                </div>
                <div id="submit_alert_div" class="form-group" style="display:none;">
                    <label class="col-md-2"></label>
                    <div class="col-md-10">
                        <div class="alert" role="alert"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

</body>
</html>
