<extend name="Common:base" />
<block name="location">
            <li><strong>位置：</strong></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Library1</a></li>
            <li class="active">首页1</li>
</block>
<block name="main">
        <div class="col-md-4">1</div>
        <div class="col-md-4">2</div>
        <div class="col-md-4">3</div>
        <div class="col-md-4">4</div>
        <div class="col-md-4">5</div>
        <div class="col-md-4">6</div>
        <div class="col-md-4">7</div>
        <div class="col-md-4">8</div>
        <div class="col-md-4">9</div>
        <div class="col-md-4">0</div>
        <div class="col-md-4">1</div>
        <div class="col-md-4">4</div>
</block>
