<!-- Bootstrap -->
<link href="{$Think.config.DOMAIN.PUBLIC}bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{$Think.config.DOMAIN.PUBLIC}bootstrap/js/bootstrap.min.js"></script>

<!-- jqueryui --> 
<script type="text/javascript" src="{:C('DOMAIN.PUBLIC')}jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="{:C('DOMAIN.PUBLIC')}jquery-ui-1.9.2.custom/development-bundle/ui/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<link rel="stylesheet" href="{:C('DOMAIN.PUBLIC')}jquery-ui-1.9.2.custom/development-bundle/themes/base/jquery.ui.all.css">
<!-- /jqueryui -->
<!-- artdialog -->
<script type="text/javascript" src="{:C('DOMAIN.PUBLIC')}artDialog4.1.7/artDialog.js"></script>
<link rel="stylesheet" href="{:C('DOMAIN.PUBLIC')}artDialog4.1.7/skins/default.css">
<!-- /artdialog -->
<!-- fileupload -->
<script src="{:C('DOMAIN.PUBLIC')}fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="{:C('DOMAIN.PUBLIC')}fileupload/js/jquery.iframe-transport.js"></script>
<script src="{:C('DOMAIN.PUBLIC')}fileupload/js/jquery.fileupload.js"></script>
<!-- /fileupload -->
<!-- kindeditor -->
<script language="javascript" src="{:C('DOMAIN.PUBLIC')}editor/kindeditor-min.js"></script>
<script language="javascript" src="{:C('DOMAIN.PUBLIC')}editor/zh_CN.js"></script>
<!-- /kindeditor -->
