<extend name="Common:base" />
<block name="location">
    <ol class="breadcrumb"> 
        <li><strong>位置：</strong></li>
        <li><a href="{:U('Index/index')}">首页</a></li>
        <li class="active">店铺列表</li>
        <a class="btn btn-primary btn-xs" href="{:U('add')}" role="button" style="float:right;">添加新店铺</a>
    </ol>
</block>
<block name="main">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>店铺名称</th>
                        <th>联系电话</th>
                        <th>所在地址</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>
                            <if condition="$vo['tel']">{$vo.tel}<else/>无</if>
                        </td>
                        <td>{$vo.city}{$vo.district}{$vo.street}</td>
                        <td>{$vo.add_time|date="Y-m-d",###}</td>
                        <td>
                            <switch name="vo.status">
                            <case value="3">
                                <span class="text-success">开启</span>
                            </case> 
                            <case value="2">
                                <span class="text-warning">关闭</span>
                            </case> 
                            <default/>
                                <span class="text-danger">异常</span>
                            </switch>
                        </td>
                        <td>
                          <a href="{:U('edit')}&id={$vo.id}">修改</a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">{$page}</div>
    </div>
</block>
